{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Warning!</h2>
  <p class="text-center text-danger">
    Are you sure you want to delete the post titled "{{post.title}}"?
  </p>
  <div class="text-center">

      <ul class="pager">
        <li>
          <form method="post" class="inline">
            <button type="submit" class="btn btn-lg btn-danger btn-round-lg">Delete</button>
          </form>
        </li>
        <li>
          <form method="get" action="/blog" class="inline">
            <button type="submit" class="btn btn-lg btn-default btn-round-lg">Cancel</button>
          </form>
        </li>
      </ul>

  </div>
  <p class="text-center">
    <a href="\blog">Home</a>
  </p>
{% endblock %}
